In [3]:
a = 1
def vartest(a):
    global a
    a = a + 5

print(a)
vartest(3)
print(a)

SyntaxError: name 'a' is parameter and global (1257068011.py, line 3)

In [3]:
def vartest(a):
    a = a + 1

vartest(3)
print(a)

1

In [6]:
r = (52, 255, 39, 132)
g = (19, 0, 227, 132)
b = (52, 255, 39, 187)

zip_object = zip(r, g, b)
print(zip_object)

img = list(zip_object)
print(img)

print(img[0])
print(type(img[0]))

<zip object at 0x000002BCBA923AC0>
[(52, 19, 52), (255, 0, 255), (39, 227, 39), (132, 132, 187)]
(52, 19, 52)
<class 'tuple'>

In [7]:
fruits = ['apple', 'banana', 'cherry', 'date']

In [10]:
a = 0
for i in fruits:
    print(a, i)
    a+=1

0 apple
1 banana
2 cherry
3 date

In [9]:
for i in range(len(fruits)):
    print(i, fruits[i])

0 apple
1 banana
2 cherry
3 date

In [11]:
f = ('apple', 'banana', 'cherry', 'date')

In [17]:
enumerate(f, 1)

In [22]:
dict(enumerate(f, 1))

{1: 'apple', 2: 'banana', 3: 'cherry', 4: 'date'}

In [24]:
mylist = [ 1, 2, 3, 4, 5]
# -> [2, 3, 4, 5, 6]

In [26]:
result = []

In [27]:
result[1] = 3

IndexError: list assignment index out of range

In [25]:
result = []
for i in mylist:
    result.append(i + 1)

print(result)

[2, 3, 4, 5, 6]

In [29]:
mylist = [ 1, 2, 3, 4, 5]

def add_one(n):
    return n + 1

result = list(map(add_one,mylist))
result

[2, 3, 4, 5, 6]

In [38]:
mylist = [ 1, 2, 3, 4, 5]

result = list(map(lambda x: x**2 ,mylist))
result

[1, 4, 9, 16, 25]

In [ ]:
result = []
for i in range(len(mylist)):
    result.append(add_one(mylist[i]))

result

In [31]:
mylist = [ 3.14, -5.6, 100.4, 25.0]

result = list(map(round,mylist))
result

[3, -6, 100, 25]

In [30]:
round(100.4)

100

In [33]:
a = [8, 3, 2, 10, 15, 7, 1, 0, 11]

In [39]:
list(filter(lambda x: x>5 and x<10, a))

[8, 7]

In [35]:
def f(x):
    return x > 5 and x < 10

In [36]:
list(filter(f, a))

[8, 7]

In [34]:
result = []
for i in a:
    if i > 5 and i < 10:
        result.append(i)

result

[8, 7]

In [40]:
numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x**2 , numbers))
print(squared)

[1, 4, 9, 16]

In [41]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2==0 , numbers))
print(even_numbers)

[2, 4, 6]

In [63]:
points = [(1, 2),(3, 4),( 5, 1), (4, 1)]
sorted_points = sorted(points, key=lambda x: (x[1], x[0]))
print(sorted_points)

[(4, 1), (5, 1), (1, 2), (3, 4)]

In [55]:
points = [(1, 2),(3, 4),( 5, 1)]

In [59]:
for i in points:
    print(i[1])

2
4
1

In [ ]:
[( 5, 1),(1, 2),(3, 4)]

In [53]:
points = [(1, 2),(3, 4),( 5, 1)]
sorted_points = sorted(points)
print(sorted_points)

[(1, 2), (3, 4), (5, 1)]

In [42]:
numbers.sort(reverse=True)
numbers

[6, 5, 4, 3, 2, 1]

In [43]:
numbers = [1, 2, 3, 4, 5, 6]

In [47]:
my_numbers = sorted(numbers, reverse=True)

In [48]:
numbers

[1, 2, 3, 4, 5, 6]

In [49]:
my_numbers

[6, 5, 4, 3, 2, 1]

In [50]:
fruits

['apple', 'banana', 'cherry', 'date']

In [52]:
myfruits = sorted(fruits,key=len, reverse=True)
myfruits

['banana', 'cherry', 'apple', 'date']

In [ ]:
등수구하기

영어 점수와 수학 점수의 평균 점수를 기준으로 학생들의 등수를 매기려고 합니다. 영어 점수와 수학 점수를 담은 2차원 리스트 score가 주어질 때, 영어 점수와 수학 점수의 평균을 기준으로 매긴 등수를 담은 리스트를 return하도록 함수를 만들어주세요

[[80, 70], [90, 50], [40, 70], [50, 80]] -> [1, 2, 4, 3]
[[80, 70], [70, 80], [30, 50], [90, 100], [100, 90], [100, 100], [10, 30]] -> [4, 4, 6, 2, 2, 1, 7]

In [78]:
score2 = [[80, 70], [70, 80], [30, 50], [90, 100], [100, 90], [100, 100], [10, 30]]
rank(score2) # [4, 4, 6, 2, 2, 1, 7]

[4, 4, 6, 2, 2, 1, 7]

In [79]:
score1 = [[80, 70], [90, 50], [40, 70], [50, 80]]
rank(score1) # [1, 2, 4, 3]

[1, 2, 4, 3]

In [ ]:
def rank(score):
    result = []
    # YOUR_CODE_HERE
    # 1. 평균값을 가지는 리스트
    avg = []
    for i, j in score:
        # print((i+j)/2)
        avg.append((i+j)/2)
    # print(avg)
    # [75.0, 70.0, 55.0, 65.0]

    # 2. 평균값을 내림차순으로 정렬
    avg_sort = sorted(avg,reverse=True)
    # print(avg_sort)
    # [75.0, 70.0, 65.0, 55.0]
    # [0,    1,    2,    3   ]  + 1
    
    # 3. 비교해서 등수 처리
    for i in avg:
        result.append(avg_sort.index(i) + 1)
    # print(result)
    # [1, 2, 4, 3]
    return result

In [ ]:
def rank(score):
    result = []
    avg = []
    for i, j in score:
        avg.append((i+j)/2)
    avg_sort = sorted(avg,reverse=True)
    for i in avg:
        result.append(avg_sort.index(i) + 1)
    return result

In [77]:
def rank(score):
    avg = [(i+j)/2 for i, j in score]
    avg_sort = sorted(avg,reverse=True)
    result = [avg_sort.index(i) + 1 for i in avg]
    return result

In [ ]:
소수판별함수  is_prime()
[2,3,4,5,6,7,8,9] -> [True, True, False, True, False, True, False, False]

In [82]:
def is_prime(num_list):
    result = []
    for num in num_list:
        isprime = True
        for i in range(2, num):
            if num % i == 0:
                isprime = False
                break
        result.append(isprime)
    return result

In [83]:
is_prime([2,3,4,5,6,7,8,9])

[True, True, False, True, False, True, False, False]

In [98]:
import random

random.randint(1, 100)
random.randrange(1, 5)

2

In [102]:
import random as r

r.randint(1, 100)
r.randrange(1, 5)

2

In [101]:
from random import randint, randrange

randint(1, 100)
randrange(1, 3)

2

In [ ]:
from random import *
from math import *
from numpy import * 

randint(1, 100)
randrange(1, 3)
sample([1,2,3], 1)

[2]

In [ ]:
import random as r

result = []
while len(result) < 6:
    num = r.randint(1, 45)
    if num not in result:
        result.append(num)

print(result)

[38, 9, 19, 7, 44, 10]

In [ ]:
import random as r

result = []
while len(result) < 6:
    num = r.randint(1, 45)
    if num not in result:
        result.append(num)
        
result.sort()
print(result)

None

#### 사용자정의모듈

In [ ]:
import mymodule as mm 

def main():
    mm.my_add(1, 2)
    hero = mm.Character('전사')
    hero.speak()

if __name__ == "__main__":
    main()

mymodule안에서의 __name__: mymodule

In [ ]:
hero.speak()  -> Character.speak(hero)
healer.speak() -> Character.speak(healer)

In [ ]:
healer = mm.Character('힐러')

In [ ]:
healer.speak()

저는 힐러입니다.

In [1]:
import mymodule as mm 

print(mm.my_add(7, 3))
print(mm.my_sub(3, 5))

mymodule안에서의 __name__: mymodule
10
-2

In [108]:
__name__

'__main__'

In [2]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def walk(self):
        print(f'{self.name}이 걸어가요')

In [3]:
person1 = Person("박지민", 31)

In [5]:
print(type(person1))

<class '__main__.Person'>

In [6]:
person1.walk()

박지민이 걸어가요

In [7]:
person2 = Person("전정국", 29)

In [8]:
person2.walk()

전정국이 걸어가요

In [19]:
class NewPerson(Person):
    def fly(self):
        print(f'{self.name}이 하늘을 날아요')
    def walk(self):
        print(f'{self.name}이 너무 잘 걸어가요')

In [21]:
person3 = NewPerson("정호석", 33)

In [22]:
person3.walk()

정호석이 너무 잘 걸어가요

In [23]:
person3.fly()

정호석이 하늘을 날아요

In [ ]:
### 결제시스템
신용카드, 포인트결제

In [ ]:
def pay_credit_payment(card_info, amount):
    """ 신용카드 결제 로직 """
    print(f"{card_info['card_number']}카드로 {amount}원 결제합니다.")
    # 서버 결제 요청
    print('결제 완료')

def pay_with_point(point_wallet, amount):
    if point_wallet['balance'] >= amount:
        point_wallet['balance'] -= amount
        print(f"포인트 {amount}점을 사용해서 결제했습니다.")
    else:
        print("포인트가 부족합니다.")

In [8]:
credit_card = {
    'type':'credit_card',
    'card_number': '1234-5678-xxxx',
    'cvc': 123
}

my_points = {
    'type':"point_wallet",
    'balance': 50000
}

In [ ]:
# 다양한 형태의 결제 방식을 처리하는 메인 루틴
def payment(payment_method, amount):
    payment_type=payment_method['type']

    if payment_type == 'credit_card':
        pay_credit_payment(payment_method, amount)
    elif payment_type == 'point_wallet':
        pay_with_point(payment_method, amount)
    else:
        print("지원되지 않는 결제방식")

In [11]:
payment(credit_card, 2500)
payment(my_points, 10000)
payment(my_points, 50000)

1234-5678-xxxx카드로 2500원 결제합니다.
결제 완료
 포인트 10000점을 사용해서 결제했습니다.
포인트가 부족합니다.

In [12]:
class PaymentMethod:
    def pay(self, amount):
        print(f"{amount}원 결제")

In [13]:
class CreditCard(PaymentMethod):
    def __init__(self, card_number, cvc):
        self.card_number = card_number
        self.cvc = cvc

    def pay(self, amount):
        print(f"{self.card_number}카드로 {amount}원 결제합니다.")
        # 서버 결제 요청
        print('결제 완료')

class PointWallet(PaymentMethod):
    def __init__(self, balance):
        self.balance = balance

    def pay(self, amount):
        if self.balance >= amount:
            self.balance -= amount
            print(f"포인트 {amount}점을 사용해서 결제했습니다.")
        else:
            print("포인트가 부족합니다.")

In [15]:
def process_payment(payment_method, amount):
    payment_method.pay(amount)

card_obj = CreditCard("44444-4444-xxxxx", 444)
point_obj = PointWallet(50000)

In [16]:
process_payment(card_obj, 1000)
process_payment(point_obj, 10000)
process_payment(point_obj, 50000)

44444-4444-xxxxx카드로 1000원 결제합니다.
결제 완료
포인트 10000점을 사용해서 결제했습니다.
포인트가 부족합니다.